@import url('https://fonts.googleapis.com/css2?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

.App {
  font-family: Roboto;
  text-align: center;
  position: relative;
  min-height: 100vh;
  min-width: 1100px !important;
}

.produce4U-green-button{
  color: white;
  margin-top:20px;
  background-color: #78B244;
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  line-height: 28px;
  border-radius: 50px;
  padding: 10px 17px;
  outline: none;
  border: none;
  cursor: pointer;
}

.produce4U-red-button{
  color: white;
  margin-top:20px;
  background-color: #EB5D3A;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto;
  line-height: 28px;
  border-radius: 50px;
  padding: 10px 17px;
  outline: none;
  border: none;
  cursor: pointer;
}


.produce4U-tile{
  border: 4px solid #E5E5E5;
  border-radius: 33px;
  background-color: white;
  font-family: Roboto;

}

.produce4U-greentext{
    color:#78B244;
  font-family: Roboto;
}

.produce4U-bluetext{
    color:#508EC8;
  font-family: Roboto;
}

.produce4U-blacktext{
  font-family: Roboto;
  color:black;
}

.produce4U-greytext{
  font-family: Roboto;
  color:grey;
}

.produce4U-font {
    font-size: 20px;
    font-family: Roboto;
}

.produce4U-roundImage{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;

}

.produce4U-form-input{
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  line-height: 47px;
  width: 506px;
  border: 2px solid #E5E5E5;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  font-family: Roboto;
  text-align: left;

}

.homepage-dropdown-input{
  border-radius: 50px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  background-color: #78B244;
  border: 2px solid #78B244;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Roboto;
  font-size: 14px;
  text-align: left;

}

.produce4U-textForIcons-blackText
{
  color: black;
  font-family: Roboto;
  font-size: 24px;
  height: 230px;
  width: 79px;

}

.produce4U-textForIcons-greenText
{
  color: #78B244;
  font-family: Roboto;
  font-size: 24px;
  text-align: center;
}

.produce4U-headlineWelcome{
  color: black;
  font-family: 'Rock Salt', cursive;
  font-size: 36px;
  margin: auto;
  margin-top: 15px;
  padding: 3px;
}
.produce4U-distance-button{
  color: white;
  margin-top:20px;
  background-color: #78B244;
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  font-size: 24px;
  line-height: 47px;
  width: 158px;
  border-radius: 50px;
  padding: 10px 17px;
  outline: none;
  border: none;
  cursor: pointer;
}

.produce4U-producerReviewHeader{
  color: #78B244;
  font-size: 48px;
  font-style: italic;
  font-family: Roboto;
  font-weight: bold;
  text-align: left;
  margin:auto;
}

.produce4U-reviewText{
  float:right;
  color: black;
  font-weight: initial;
  font-family: Roboto;
  font-size: 34px;
  height: 531px;
  width: 499px;
  text-align: left;
}
