.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.navbar{
  background-color: #78B244;
  height: 65px;
  width:100%;
  display: flex;
  justify-content: space-between;
}

.header-right{
  width:33%;
  display: flex;
  justify-content: flex-end;
}

.header-left{
  width:33%;
  display: flex;
  justify-content: flex-start;
}

.header-item{
  color:white;
  margin-left:22px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  text-decoration-line: none;
}

.header-item:hover{
  text-decoration-line: underline !important;
}

.header-center{
  color: white;
  width:33%;
  display: flex;
  justify-content: center;
}

.header-logo{
  position: absolute;
  top: -53px;
  height: 260px;
}

.header-button{
  color: white;
  margin-left:22px;
  margin-right:22px;
  margin:11px;
  background-color: #78B244;
  border: 4px solid #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  border-radius: 50px;
  padding: 2px 12px;
  font-weight: bold;
  outline: none;
  cursor: pointer;

}

.header-button:active {
  transform: translateY(4px);
}


.footer{
  background-color: #78B244;
  width:100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  margin-top: 20px;
  position:absolute;
  bottom: 0;
}

.footer-left{
  width:38%;
  color: White;
  font-size: 23px;
  font-weight: bold;
  margin-top: 20px;
}

.footer-right{
  width:38%;
  color: White;
  font-size: 14px;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.footer-icon{
  margin-left: 10px;
  cursor:pointer;
}

.footer-copyright{
  position: absolute;
  right: 5px;
  bottom: 2px;
  color: White;
  font-size: 12px;
}
