@import url('https://fonts.googleapis.com/css2?family=Roboto');

.footer{
  background-color: #78B244;
  font-family: Roboto;
  width:100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  margin-top: 20px;
  position: relative;
  bottom: 0;
}

.footer-left{
  width:38%;
  color: White;
  font-size: 23px;
  font-weight: bold;
  font-family: Roboto;
  margin-top: 20px;
}

.footer-right{
  width:38%;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.footer-icon{
  margin-left: 10px;
  cursor:pointer;
}

.footer-copyright{
  position: absolute;
  font-family: Roboto;
  right: 5px;
  bottom: 2px;
  color: White;
  font-size: 12px;
}

.footer-report{
    color: white;
}
