@import url('https://fonts.googleapis.com/css2?family=Roboto');

.product{
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  font-family: Roboto;
  justify-content: space-evenly;
}

.product-image{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 30px;

}

.product-info{
  margin: 0 auto;
  border: 4px solid #E5E5E5;
  border-radius: 33px;
  color: #78B244;
  max-width: 350px;
  font-family: Roboto;
}

.product-producer{
  max-width: 130px;
  text-decoration: none !important;
  font-family: Roboto;
}

.product-title{
  font-weight: bold;
  font-size: 19px;
  text-decoration-line: underline;
  text-align: center;
  font-family: Roboto;
}

.product-describtion{
  font-size: 14px;
  margin: 6%;
  font-family: Roboto;
}


.product-left{
   margin: 10px;
   width: 50%;
  font-family: Roboto;

}

.review{
  border: 4px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 33px;
  color: #78B244;
  padding: 8px;
  width: 50%;
  min-width: 300px;
  font-family: Roboto;
}

.contact-producer{
  color: #78B244 !important;
  text-decoration-line: none;
  margin: 5px;
  font-family: Roboto;
}
